# Server Configuration
HOST=0.0.0.0
PORT=8001

# AWS Configuration
AWS_REGION=us-east-1
AWS_PROFILE=default

# Athena Configuration
ATHENA_S3_BUCKET=
ATHENA_S3_PREFIX=/
ATHENA_DATABASE=
ATHENA_WORKGROUP=
